---
---

<section class="up-skill-section" id="skill-section">
  <div class="skill-content">
    <h2 class="skill-title">Skills</h2>
    <div class="skill-groups">
      <div class="skill-group">
         <h3 class="skill-group-title">Backend</h3>
         <div class="skills">
             <img src="/svg/golang.svg" alt="golang" />
             <img class="add-bg" src="/svg/nodejs.svg" alt="nodejs" />
             <img class="add-bg" src="/svg/bun.svg" alt="bun" />
             <img src="/svg/typescript.svg" alt="typescript" />
             <img src="/svg/javascript.svg" alt="javascript" />
         </div>
      </div>
      <div class="skill-group">
         <h3 class="skill-group-title">Frontend</h3>
         <div class="skills">
             <img src="/svg/react.svg" alt="react" />
             <img src="/svg/svelte.svg" alt="svelte" />
             <img src="/svg/flutter.svg" alt="flutter" />
             <img class="add-bg" src="/svg/nextjs.svg" alt="nextjs" />
         </div>
      </div>
      <div class="skill-group">
         <h3 class="skill-group-title">Database & Data Access</h3>
         <div class="skills">
             <img src="/svg/postgresql.svg" alt="postgresql" />
             <img class="add-bg"  src="/svg/mysql.svg" alt="mysql" />
             <img src="/svg/mongodb.svg" alt="mongodb" />
             <img src="/svg/redis.svg" alt="redis" />
             <img src="/svg/prismaorm.svg" alt="prismaorm" />
         </div>
      </div>
      <div class="skill-group">
         <h3 class="skill-group-title">DevOps</h3>
         <div class="skills">
             <img src="/svg/linux.svg" alt="linux" />
             <img class="add-bg" src="/svg/docker.svg" alt="docker" />
         </div>
      </div>
      <div class="skill-group">
         <h3 class="skill-group-title">Development Tools</h3>
         <div class="skills">
             <img src="/svg/vim.svg" alt="vim" />
             <img src="/svg/git.svg" alt="git" />
             <img src="/svg/postman.svg" alt="postman" />
             <img src="/svg/figma.svg" alt="figma" />
         </div>
      </div>
  </div>
</section>

